body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a,
.language-label {
  color: #34495e;
}

a {
  text-decoration: none;
}

.header {
  width: 100vw;
  height: 60px;
  padding: 2px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 1rem;
}
.main-nav {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 0.8rem;
}

/* Media query for screens up to 768px wide (tablets and mobiles) */
@media (max-width: 768px) {
  .main-nav {
    display: none;
  }
}

.logo a,
.main-nav a,
.language-option {
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
}

.main-nav a:hover {
  color: blue;
}

/* Default styles for both desktop and mobile */
.mobile-nav {
  display: none; /* Hide the mobile-nav by default */
  position: relative;
}

.mobile-nav:hover .mobile-dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.mobile-dropdown-content:hover .mobile-dropdown-content {
    display: block;
}

/* Media query for screens up to 768px wide (tablets and mobiles) */
@media (max-width: 768px) {
  .mobile-nav {
    display: inline-block; /* Display the mobile-nav for screens <= 768px wide */
  }
}

.mobile-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 16px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.language-option {
  color: #34495e;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 20px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content > p:hover {
  color: #718daa;
}

.dropdown-content > p > img {
  height: 15px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

/* hero starts here */
.hero-sec {
  height: 525px;
  background-color: black;
}

#hero-headline {
  margin-left: 7%;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}

#hero-headline p {
  margin-top: 12%;
  font-size: 34px;
  color: #000763;
  text-align: left;
  max-width: 58%;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #f1faee;
  font-size: 4rem;
}

#spare-time {
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #a8dadc;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

/* current exhibitions */
.ongoing-exhib,
.our-gallery > p,
.artisan-hub,
.upcoming-exhib {
  margin-left: 8%;
  margin-top: 4%;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #0e102a;
  font-size: 25px;
  font-weight: 800;
}

.ongoing-exhib-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  justify-content: center;
}

.oe-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

img.oe-flex-item {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: block;
  width: 200px;
  z-index: -1;
  height: 200px;
  transition: transform 0.3s;
}

h3,
p.oe-flex-item {
  margin: 0;
  margin-top: 10px;
  max-width: 200px;
}

/* our gallery */
.our-gallery {
  background-color: #f8edcd;
  margin-top: 40px;
}

.our-gallery-container {
  padding: 4%;
  margin-top: 0%;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-gallery-img {
  margin: 10px;
  height: 120px;
  width: auto;
}

.our-gallery-btn {
  display: flex;
  justify-content: right;
}

#explore-gallery {
  margin-top: 18px;
  margin-right: 4%;
  border: 2px solid #4f2e00;
  color: #231401;
  background-color: transparent;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* artisan hub */
.artisan-hub-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 55px;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
}

.artisan-hub-info-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.artisan-info img {
  height: 50px;
  align-items: center;
}

.artisan-info {
  display: flex;
  align-items: flex-start;
}

.artisan-info img {
  max-width: 100%;
  margin-right: 10px;
  /* Adjust the margin as needed */
}

.artisan-info p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #560093;
}

.artisan-info-details {
  padding-left: 55px;
}

/* upcoming exhibitions */
.upcoming {
  background-color: #c0f94e;
  padding-bottom: 30px;
}

.upcoming-exhib {
  color: #4f4f01;
  padding-top: 40px;
}

.upcoming-exhib-about {
  color: #254506;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.3%;
  padding: 10px 50px;
  color: #254506;
}

.row {
  margin: 0 -5px;
  padding-top: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  padding: 12px;
  text-align: center;
  background-color: #f1f1f1;
  transition: 0.3s;
  border-radius: 10px;
}

.upcoming img {
  border-radius: 10px 10px 10px 10px;
}

/* newsletter */

* {
  box-sizing: border-box;
}

.box {
  background-color: #ffffff;
  border-radius: 20px;

  padding: 30px;
  text-align: center;
  max-width: 500px;
}

.box h2 {
  margin: 10px 0 0;
}

.box p {
  color: #312940;
  margin: 10px;
}

.box img {
  max-width: 100%;
  width: 400px;
}

.form-control {
  position: relative;
  margin: 30px 0 20px;
}

.input {
  border: 0;
  border-radius: 50px;

  display: block;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  height: 42px;
  padding: 12px 25px;
  width: 100%;
}

.btn {
  background-color: #312940;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  height: 42px;
  padding: 12px 25px;
  position: absolute;
  top: 0;
  right: 0;
}

.input:focus,
.btn:focus {
  outline: 0;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;

  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-btn:focus {
  outline: none;
}

.floating-text {
  background-color: #001f61;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: "Muli";
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 998;
}

.floating-text a {
  color: #ff7500;
  text-decoration: none;
}

::selection {
  background: transparent;
}

/* -------------FOOTER-------------------------- */

.footer {
  margin-top: 380px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: antiquewhite;
  padding: 20px 20px;
  color: black;
  font-family: Arial, sans-serif;
}

.footer .social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.newsletter .newsletter-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-text {
  text-align: center;
}
.copyright {
  text-align: center;
  background-color: aliceblue;
  color: black;
}
.footer-links {
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}
.btn-social {
  font-size: 24px;
  color: blue;
  margin-right: 15px;
}

