<style>
  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Bungee+Inline&family=Monoton&family=Nunito+Sans:opsz@6..12&display=swap');
</style>

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a,
.language-label {
    color: #34495e;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    display: flex;
    margin-top: 15px;

}

.logo a,
.main-nav a,
.language-option {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    display: flex;
    padding-top: .5em;
    padding-bottom: .5em;
    z-index: 1;
    position: absolute;
    background-color: none;
}

.language-option {
    background-color: none;
    color: #34495e;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content>p:hover {
    color: #718daa;
}

.dropdown-content>p>img {
    height: 15px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

/* hero starts here */
.hero-sec {
    height: 525px;
    background-color: black;
}

#hero-headline {
    margin-left: 7%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

#hero-headline p {
    margin-top: 12%;
    font-size: 34px;
    color: #000763;
    text-align: left;
    max-width: 58%;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #F1FAEE;
    font-size: 4rem;
}




#spare-time {
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #A8DADC;

}

.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
}



/* current exhibitions */
.ongoing-exhib,
.our-gallery>p,
.artisan-hub,
.upcoming-exhib {
    margin-left: 8%;
    margin-top: 4%;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #0e102a;
    font-size: 25px;
    font-weight: 800;
}

.ongoing-exhib-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    justify-content: center;
}

.oe-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

img.oe-flex-item {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: block;
    width: 200px;
    z-index: -1;
    height: 200px;
    transition: transform 0.3s;
}

h3,
p.oe-flex-item {
    margin: 0;
    margin-top: 10px;
    max-width: 200px;
}


/* our gallery */
.our-gallery {
    background-color: #f8edcd;
    margin-top: 40px;
}

.our-gallery-container {
    padding: 4%;
    margin-top: 0%;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.our-gallery-img {
    margin: 10px;
    height: 120px;
    width: auto;
}

.our-gallery-btn {
    display: flex;
    justify-content: right;
}

#explore-gallery {
    margin-top: 18px;
    margin-right: 4%;
    border: 2px solid #4f2e00;
    color: #231401;
    background-color: transparent;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
}


/* artisan hub */
.artisan-hub-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
}

.artisan-hub-info-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artisan-info img {
    height: 50px;
    align-items: center;
}

.artisan-info {
    display: flex;
    align-items: flex-start;
}

.artisan-info img {
    max-width: 100%;
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.artisan-info p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #560093;
}

.artisan-info-details {
    padding-left: 55px;
}

/* upcoming exhibitions */
.upcoming {
    background-color: #c0f94e;
    padding-bottom: 30px;
}

.upcoming-exhib {
    color: #4f4f01;
    padding-top: 40px;
}

.upcoming-exhib-about {
    color: #254506;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.3%;
    padding: 10px 50px;
    color: #254506;
}

.row {
    margin: 0 -5px;
    padding-top: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



.card {
    
    padding: 12px;
    text-align: center;
    background-color: #f1f1f1;
    transition: 0.3s;
    border-radius: 10px;
}



.upcoming img {
    border-radius: 10px 10px 10px 10px;
}







/* newsletter */
.newsletter {
    background-color: #1B0926;
 
    height: 550px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ellipse5{
    position: absolute;
    z-index: 1;
    width: 291.304px;
    height: 289.585px;
    transform: rotate(19.315deg);
    flex-shrink: 0;
    border-radius: 291.304px;
    opacity: 0.9;
    background: var(--Linear, linear-gradient(180deg, #FC00FF 0%, #00DBDE 100%));
    left: 27%;
    top:10%;
}
.ellipse6 {
    position: absolute;
    z-index: 1;
    width: 178px;
    height: 178px;
    background: radial-gradient(50% 50% at 50% 50%, #26CDFD 0%, #B721FF 100%);
    opacity: 0.8;
    border-radius: 9999px;
    bottom:5%;
    right:32%;
  }

.ellipse7{
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 90px;
    transform: rotate(101.179deg);
    flex-shrink: 0;
    background: var(--3, linear-gradient(180deg, #FFCC70 0%, #C850C0 100%));
    opacity: 0.6;
    border-radius: 9999px;
    top:13%;
    right:36%;
}

.ellipse9{
    position: absolute;
    z-index: 1;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background:rgba(255, 255, 255, 0.45);
    border-radius: 9999px;
    top:23%;
}

.rectangle {
    position: absolute;
    z-index: 5;
    width: 406px;
    height: 366px;
    background: linear-gradient(147deg, rgba(255, 255, 255, 0.06) 0%, rgba(177.53, 56.77, 235.49, 0.05) 100%);
    box-shadow: -3px 18px 37px rgba(28.31, 8.29, 40.59, 0.34);
    border-radius: 24px;
    border: 1.30px white solid;
    backdrop-filter: blur(34px);
    
    
  }
  .rectangle-content {
    margin: auto;
    max-width: 350px;
    padding: 10px;
  }
.rect-head{
    
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 3.63px;
text-transform: uppercase;
opacity: 0.8;
background: linear-gradient(90deg, #FFF 1.96%, rgba(255, 255, 255, 0.897) 103.04%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
mix-blend-mode: overlay;
}






.group 			  { 
    position:relative; 
    margin-bottom:45px; 
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: #6f0dee00;

  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:16px;
    color:#0d0101;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ 
    position:relative; 
    display:block; 
    width:300px;
    background: linear-gradient(90deg, #FFF 1.32%, rgba(255, 255, 255, 0.34) 51.78%, #FFF 98.89%);
    mix-blend-mode: overlay;
 }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background: linear-gradient(90deg, #840be1ae 1.96%, rgba(163, 10, 209, 0.83) 103.04%);
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }

.glow-on-hover{
    width: 311px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* animations for btn hover */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #11111100;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff000061,  #002affb8, #7b00ffae, #ff00c8c1, #ff00008d);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2d0860;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.subs-text{
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.73px;
    text-transform: uppercase;
    opacity: 0.8;
    background: linear-gradient(90deg, #FFF 1.96%, rgba(255, 255, 255, 0.384) 103.04%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}




/* -------------FOOTER-------------------------- */


.footer{
    height: 527px;
    width: 100%;
    background-color: #040815;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elements-box{
    width: 80%;
    height: 59%;
    display: flex;
   
    flex-wrap: wrap;
    /* background-color: palegreen; */
}

.l-box p{
    height: 60.06px;
    width: auto;
    font-size: 50px;;
}

.eum{
    font-size: 20px;
}

.r-box{
    display: flex;
    flex-wrap: wrap;
   
}
.r-box>.a>h2{

    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400px;
    line-height: 22.77px;
}
.a>ul>li{
    opacity:100%;
    font-size: 14px;
    font-weight: 400px;
    line-height: 30px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}
 
.a{
    margin:0 1em;
}
.logo-f{
    
    font-size: 1.6em;
}

.bar-line{
    width: 70%;
    background-color: white;
    opacity: 75%;
    height: 1.6px;
    position: relative;
    top: -18px;
}

.social-icons>a>img{
    height: 18px;
    width: 18px;
}


<!-- ------------------MEDIA QUERIES---------------------- -->


@media screen and (max-width: 768px) {
    .elements-box {
        width: 100%; /
    }

    .r-box {
        flex-direction: column; 
    }

    .box1, .box2, .box3, .box4 {
        margin-bottom: 1em; 
    }

    .a {
        margin: 0; 
    }

    .r-box > .a > h2 {
        font-size: 16px; 
    }

    .a > ul > li {
        line-height: 1.6; 
    }
}



