:root{
    --main-color:#00c9a5;
    --nav-color: #00afa5;
    --bg-color: #e8f3f1;
    --black: #2f4858;
    --card-color: #c0dbea;
    --border:  .1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/* -----------------------------main sections--------------- */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .3s ease-in;
    scroll-behavior: smooth;
    scroll-padding-top: 16vh;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
}
section{
    padding: 2rem 7%;
}
.btn{
    display: inline-block;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    font-size: 1.7rem;
    padding:  0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}


.title{
    text-shadow: 2px 2px 0 var(--card-color), -2px -2px 0 var(--card-color), 2px -2px 0 var(--card-color), -2px 2px 0 var(--card-color);
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 3.5rem 0;
    font-size: 4rem;
}

.title span{
    color: var(--main-color);
}



.home{
    display: flex;
    align-items: center;
    min-height: 84vh;
    margin-top: 16vh;
    background-color: rgb(162, 184, 184);
   
    

}

.home .image{
    
    margin-left: 180px;
}

.home .hero{
    width: 60rem;

}
.home .hero h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);


}
.home .hero p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 3.2rem;
    padding: 1rem 0;
    color: #eee;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem
}

.art .wrapper .art-card{
    background-color: var(--card-color);
    padding: 3rem 2rem;
    text-align: center;
    transform-origin: top center;
    border-radius: 4%;
}


.art .wrapper .art-card img{
    width: 100%;
}

.art .wrapper .art-card h3{
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
}

.art .wrapper .art-card .price{
    color: white;
    font-size: 1.8rem;
    padding: 0.5rem 0;
}

.art .wrapper .art-card .price span{
    color: white;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.cheese-art .wrapper .cheese-card{
    background-color: #eac7c7;
    text-align: center;
    padding: 2rem;
    border: var(--border);
}


.cheese-art .wrapper .cheese-card .icons a{
    border: var(--border);
    height: 5rem;
    width: 5rem;
    color: white;
    font-size: 2rem;
    line-height: 5rem;
    margin: .3rem;
}



.cheese-art .wrapper .cheese-card .img{
    padding: 0;
}

.cheese-art .wrapper .cheese-card .img img{
    height: 20rem;
}

.cheese-art .wrapper .cheese-card .content h3{
    color: white;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.cheese-art .wrapper .cheese-card .content .stars{
    padding: 1.8rem;
} 

.cheese-art .wrapper .cheese-card .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
    
}

.cheese-art .wrapper .cheese-card .content .price{
    color: white;
    font-size: 1.8rem;
}

.cheese-art .wrapper .cheese-card .content .price span{
    color: white;
    font-size: 1.4rem;
    text-decoration: line-through;
}

.new-arrivals .wrapper .card{
    background-color: #ffdca9;
    border: var(--border);
}

.new-arrivals .wrapper .card .img{
    width:100%;
}

.new-arrivals .wrapper .card .img img{
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.new-arrivals .wrapper .card .content{
    padding: 2rem;
}

.new-arrivals .wrapper .card .content a:nth-of-type(1){
    font-size: 2.5rem;
    line-height: 5rem;
    color: var(--black);

}

.new-arrivals .wrapper .card .content p{
    color: grey;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.new-arrivals .wrapper .card .content p{
    color: var(--black);
}
.new-arrivals .wrapper .card .content .btn{
    transform: scale(0);
}

.new-arrivals .wrapper .card:hover .content .btn{
    transform: scale(1);
}

.about .container{
    display: flex;
    justify-content: center;
    background-color: var(--black);
    flex-wrap: wrap;

}

.about .conatiner .img{
    flex: 1 1 45rem;
}
.about .conatiner .img img{
    width:100%;
}
.about .container .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .container .content h3{
    font-size: 3rem;
    color: white;
    padding: 1.2rem 0;
}

.about .container .content p{
    font-size: 1.6rem;
    color: white;
    padding: 1rem 0;
    line-height: 2.2rem;
}




/* -------------FOOTER-------------------------- */



.footer {
    margin-top: 380px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: antiquewhite;
    padding: 20px 20px;
    color: black;
    font-family: Arial, sans-serif;
}

.footer .social-media{
    
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.newsletter .newsletter-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-text{
    text-align: center;
    text-wrap: wrap;
}
.copyright{
    text-align: center;
    background-color: aliceblue;
    color:black;
}
.footer-links{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
}
.btn-social {
    font-size: 24px;
    color: blue;
    margin-right: 15px;
}













